

</div>
<div class="station_container">
  <div class="handset_box">
    <div class="handset_img" id="off_hook">
      <%= image_tag "Off-hook.svg" ,id:"off_hook_click"%>
    </div>
    <div class="handset_img" id="on_hook">
      <%= link_to(image_tag("On-hook.svg" ,id:"on_hook_click"),"/stations/#{@current_station.id}/back_16", remote:true, method: :post )%>
      <p id="ptt_btn">PTT</p>
    </div>

  </div>
  <div class="station_left">
    <div class="station_info">
        <ul>
          <li>Ship's Name : <%= @station.name %></li>
          <li>Call Sign : <%= @station.call_sign %></li>
          <li>MMSI : <%= @station.mmsi %></li>
        </ul>
    </div>
    <div class="controller">
      <div class="static_items">
        <%= image_tag "jrc-logo.svg", class:"jrc-logo" %>
        <%= image_tag "distress-attension.svg", class:"distress-attension" %>
        <%= image_tag "cover-mount.svg", class:"cover-mount" %>
        <%= image_tag "handset-cable.svg", class:"handset-cable" %>
        <%= image_tag "panel-shadow.svg", class:"panel-shadow" %>
        <%= image_tag "controller-name.svg", class:"controller-name" %>
        <%= image_tag "line.svg", class:"line" %>
        <%= image_tag "volume-scale.svg", class:"volume-scale-left" %>
        <%= image_tag "volume-scale.svg", class:"volume-scale-right" %>
        <%= image_tag "off-txt.svg", class:"off-txt" %>
        <%= image_tag "sql-txt.svg", class:"sql-txt" %>
        <%= image_tag "vol-txt.svg", class:"vol-txt" %>
        <%= image_tag "alm-txt.svg", class:"alm-txt" %>
        <%= image_tag "push-ent.svg", class:"push-ent" %>
        <div class="alm-pointer"></div>
        <div class="speakers">
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
        </div>
      </div>

      <div class="monitor">
        <div class="home_screen">
          <div class="header">
            <ul class="header_info left">
              <li><p>Station1</p></li>
              <li><p>&nbsp;</p></li>
              <li ><p class="reverse_color" id="tx">&nbsp;TX&nbsp;</p><p>&nbsp;</p></li>
            </ul>
            <div class="header_info right">
              <ul class="header_info2 center">
                <li><p>TIME</p></li>
                <li><p>POS</p></li>
                <li><p>ENT</p></li>
              </ul>
              <ul class="header_info2">
                <li><p id="clock"></p></li>
                <li><p><%= "#{@lat_degree}°#{@lat_min}' " %>
                  <% if @station.lat >= 0 %>
                    <%= "N" %>
                  <% else %>
                    <%= "S" %>
                  <% end %>
                </p></li>
                <li><p><%= "#{@long_degree}°#{@long_min}' " %>
                  <% if @station.long >= 0 %>
                    <%= "E" %>
                  <% else %>
                    <%= "W" %>
                  <% end %>
                </p></li>
              </ul>
            </div>

          </div>
          <div class="main">
            <ul class="main_info left">
              <li><p class="reverse_color" id="ch_info">CH</p></li>
              <li><p>&nbsp;</p></li>
              <li ><p>[ITU]</p></li>
            </ul>

            <div class="current_ch">
              <% if @station.channel >= 10 %>
                <%= @station.channel %>
              <% else %>
                <%= "0#{@station.channel}" %>
              <% end %>
            </div>
            <ul class="main_info right">
              <li><p>&nbsp;</p></li>
              <li><%= image_tag "dup.svg", id:"dup_info" %>&nbsp;</li>
              <li><%= image_tag "1w.svg", id:"pwr_info" %>&nbsp;</li>
            </ul>

          </div>
          <div class="footer">
            <div class="sql_info">
              <p>SQL</p>
              <div id="sql_scales">
                <div class="sql_scale" id="sql_1"></div>
                <div class="sql_scale" id="sql_2"></div>
                <div class="sql_scale" id="sql_3"></div>
                <div class="sql_scale" id="sql_4"></div>
                <div class="sql_scale" id="sql_5"></div>
                <div class="sql_scale" id="sql_6"></div>
                <div class="sql_scale" id="sql_7"></div>
                <div class="sql_scale" id="sql_8"></div>
                <div class="sql_scale" id="sql_9"></div>
                <div class="sql_scale" id="sql_10"></div>
                <div class="sql_scale" id="sql_11"></div>
              </div>
              <%= image_tag "spk-on.svg" , class:"spk-on" %>
            </div>
            <div class="dsc_infos">
              <%= image_tag "ch70-symbol.svg" , class:"dsc_info" %>
              <%= image_tag "atm-ans.svg" , class:"dsc_info" %>
              <%= image_tag "ch_sw.svg" , class:"dsc_info" %>
            </div>
          </div>
        </div>
      </div>
      <div class="dynamic_items">
        <div class="oval_btn" id="dim">
          <%= image_tag "dim.svg", class:"btn-txt" %>
        </div>
        <div class="oval_btn" id="pwr_cont">
          <%= image_tag "pwr_cont.svg", class:"btn-txt" %>
        </div>

        <% numbers = 0..9 %>
        <% numbers.each do |number| %>
          <%= link_to(image_tag("#{number}.svg", class:"btn-txt"), stations_show_path(@station, num:"#{number}"), remote: true, method: :post, class:"oval_btn", id:"btn_#{number}") %>
        <% end %>


        <div class="oval_btn" id="func">
          <%= image_tag "func.svg", class:"btn-txt" %>
        </div>
        <div class="oval_btn" id="btn_25w_1w">
          <%= image_tag "25w_1w.svg", class:"btn-txt" %>
        </div>
        <div class="oval_btn" id="user">
          <%= image_tag "user.svg", class:"btn-txt" %>
        </div>
        <div class="oval_btn" id="dsc_rtn">
          <%= image_tag "dsc_rtn.svg", class:"btn-txt" %>
        </div>
        <%= link_to(image_tag("ch16.svg", class:"btn-txt"),"/stations/#{@current_station.id}/back_16", remote:true, method: :post, class:"oval_btn", id:"ch16" ) %>
        <div class="round_btn" id="menu">
          <%= image_tag "menu.svg", class:"btn-txt" %>
        </div>
        <div class="round_btn" id="cancel">
          <%= image_tag "cancel.svg", class:"btn-txt" %>
        </div>
        <div class="distress_btn" id="distress">
          <%= image_tag "distress.svg", class:"btn-txt" %>
        </div>
        <div id="cover_close">
          <%= image_tag "cover_close.svg" %>
        </div>
        <div id="cover_open">
          <%= image_tag "cover_open.svg" %>
        </div>
        <div id="ent-nob">
          <%= image_tag "ent-nob.svg" %>
        </div>
        <div class="vol-nob" id="sql_nob">
          <%= image_tag "vol-nob.svg" %>
        </div>
        <div class="vol-nob" id="vol_nob">
          <%= image_tag "vol-nob.svg" %>
        </div>
        <div id="alm-lamp"></div>
      </div>

    </div>


</div>
