

</div>
<div class="station_container">
  <div class="handset_box">
    <div class="handset_img" id="off_hook">
      <%= image_tag "Off-hook.svg" ,id:"off_hook_click"%>
    </div>
    <div class="handset_img" id="on_hook">
      <%= link_to(image_tag("On-hook.svg" ,id:"on_hook_click"),"/stations/#{@station.id}/back_16", remote:true, method: :post )%>
      <p id="ptt_btn">PTT</p>
    </div>

  </div>
  <div class="station_left">
    <div class="station_info">
        <ul>
          <li>Ship's Name : <%= @station.name %></li>
          <li>Call Sign : <%= @station.call_sign %></li>
          <li>MMSI : <%= @station.mmsi %></li>
        </ul>
    </div>
    <div class="controller">
      <div class="static_items">
        <%= image_tag "jrc-logo.svg", class:"jrc-logo" %>
        <%= image_tag "distress-attension.svg", class:"distress-attension" %>
        <%= image_tag "cover-mount.svg", class:"cover-mount" %>
        <%= image_tag "handset-cable.svg", class:"handset-cable" %>
        <%= image_tag "panel-shadow.svg", class:"panel-shadow" %>
        <%= image_tag "controller-name.svg", class:"controller-name" %>
        <%= image_tag "line.svg", class:"line" %>
        <%= image_tag "volume-scale.svg", class:"volume-scale-left" %>
        <%= image_tag "volume-scale.svg", class:"volume-scale-right" %>
        <%= image_tag "sql-txt.svg", class:"sql-txt" %>
        <%= image_tag "vol-txt.svg", class:"vol-txt" %>
        <%= image_tag "alm-txt.svg", class:"alm-txt" %>
        <%= image_tag "push-ent.svg", class:"push-ent" %>
        <div class="alm-pointer"></div>
        <div class="speakers">
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
          <div class="speaker-line"></div>
        </div>
      </div>

      <div class="monitor">
        <div class="home_screen">
          <div class="header">
            <ul class="header_info left">
              <li><p>Station1</p></li>
              <li><p>&nbsp;</p></li>
              <li ><p class="reverse_color tx">&nbsp;TX&nbsp;</p><p>&nbsp;</p></li>
            </ul>
            <div class="header_info right">
              <ul class="header_info2 center">
                <li><p>TIME</p></li>
                <li><p>POS</p></li>
                <li><p>ENT</p></li>
              </ul>
              <ul class="header_info2">
                <li><p class="clock"></p></li>
                <li><p><%= "#{@lat_degree}°#{@lat_min}' " %>
                  <% if @station.lat >= 0 %>
                    <%= "N" %>
                  <% else %>
                    <%= "S" %>
                  <% end %>
                </p></li>
                <li><p><%= "#{@long_degree}°#{@long_min}' " %>
                  <% if @station.long >= 0 %>
                    <%= "E" %>
                  <% else %>
                    <%= "W" %>
                  <% end %>
                </p></li>
              </ul>
            </div>

          </div>
          <div class="main">
            <ul class="main_info left">
              <li><p class="reverse_color ch_info">CH</p></li>
              <li><p class="distress_info">&nbsp;</p></li>
              <li ><p>[ITU]</p></li>
            </ul>

            <div class="current_ch">
              <% if @station.channel >= 10 %>
                <%= @station.channel %>
              <% else %>
                <%= "0#{@station.channel}" %>
              <% end %>
            </div>
            <ul class="main_info right">
              <li><p>&nbsp;</p></li>
              <li><%= image_tag "dup.svg", class:"dup_info" %>&nbsp;</li>
              <li><%= image_tag "1w.svg", class:"pwr_info" %>&nbsp;</li>
            </ul>

          </div>
          <div class="footer">
            <div class="sql_info">
              <p>SQL</p>
              <div id="sql_scales">
                <div class="sql_scale" id="sql_1"></div>
                <div class="sql_scale" id="sql_2"></div>
                <div class="sql_scale" id="sql_3"></div>
                <div class="sql_scale" id="sql_4"></div>
                <div class="sql_scale" id="sql_5"></div>
                <div class="sql_scale" id="sql_6"></div>
                <div class="sql_scale" id="sql_7"></div>
                <div class="sql_scale" id="sql_8"></div>
                <div class="sql_scale" id="sql_9"></div>
                <div class="sql_scale" id="sql_10"></div>
                <div class="sql_scale" id="sql_11"></div>
              </div>
              <%= image_tag "spk-on.svg" , class:"spk-on" %>
            </div>
            <div class="dsc_infos">
              <img class="dsc_info ch70_info" id="ch70_symbol" src="/assets/ch70-symbol.svg"><img class="dsc_info" id="atm_ans" src="/assets/atm-ans.svg"><img class="dsc_info" id="ch_sw" src="/assets/ch_sw.svg">
            </div>
          </div>
        </div>
        <div class="sub_screen" id="off_power">
          <div class="sub_screen_wrapper">
            <p class="p1">OK to power off</p>
            <p class="p2">the VHF system?</p>
            <ul>
              <li class="li1"><%= link_to "[OK]","/stations/#{@station.id}/pwr_off", remote: true, method: :post,class:"link" %></li>
              <li class="li2"><%= link_to "[Cancel]", "/stations/#{@station.id}/cancel", remote: true, method: :post,class:"link" %></li>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="waiting">
          <div class="sub_screen_wrapper">
            <p class="p3">Waiting for<br />Acknowledgement.</p>
            <p class="p4"><%= link_to "[Cancel]", "/stations/#{@station.id}/cancel", remote: true, method: :post,class:"link",id:"cancel_link" %></p>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="ch_connection_completed">
          <div class="sub_screen_wrapper">
            <p class="p4">Channel connection<br />completed.</p>
            <p class="p5">Lift handset please.</p>
            <p class="p6"><%= link_to "[ OK ]", "/stations/#{@station.id}/cancel", remote: true, method: :post,class:"link",id:"ok_link" %></p>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="distress_count_down">
          <div class="sub_screen_wrapper">
            <p class="p3">DISTRESS call<br />starts in</p>
            <p class="p4"><span class="count_num">4</span> sec</p>
          </div>
        </div>
        <div class="sub_screen" id="sending_distress">
          <div class="sub_screen_wrapper">
            <p class="p3">Sending<br />DISTRESS call ...</p>
          </div>
        </div>
        <div class="sub_screen" id="sending_message">
          <div class="sub_screen_wrapper">
            <p class="p3">Sending<br />message ...</p>
          </div>
        </div>
        <div class="sub_screen" id="distress_mode_break">
          <div class="sub_screen_wrapper">
            <p class="p7">Now continuing<br />DISTRESS call mode.<br />Break this mode?</p>
            <ul>
              <li class="li1"><a class="link" tabindex="0" id="distress_continue">[Continue]</a></li>
              <li class="li2"><a class="link" tabindex="0" id="distress_break">[Break]</a></li>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="ais_call">
          <div class="sub_screen_wrapper wide_sub_screen">
            <p class="p8">VESSEL CALL PROCESS<br />Select call type.</p>
            <ul class="type_ul">
              <li class="call_type_list"><a class="link" tabindex="0" id="ais_routine"><span>[</span><span class="call_select">Routine</span><span>]</span></a></li>
              <li class="call_type_list"><a class="link" tabindex="0" id="ais_safety"><span>[</span><span class="call_select">Safety</span><span>]</span></a></li>
              <li class="call_type_list"><a class="link" tabindex="0" id="ais_urgency"><span>[</span><span class="call_select">Urgency</span><span>]</span></a></li>
              <li class="call_type_list"><a class="link" tabindex="0" id="ais_cancel"><span>[</span><span class="call_select">Cancel</span><span>]</span></a></li>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="recieved_call">
          <div class="sub_screen_wrapper wide_sub_screen">
            <p class="p7" id="recieved_when_menu_mode"></p>
            <ul class="sub_screen_wrapper">
              <li class="li1"><a class="link" tabindex="0" id="dsc_accept">[Accept]</a></li>
              <li class="li2"><a class="link" tabindex="0" id="dsc_ignore">[Ignore]</a></li>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="recieved_other_call">
          <div class="sub_screen_wrapper wide_sub_screen">
            <p class="p7">Recieved other call.<br />Break DISTRESS mode<br />to view message?</p>
            <ul class="sub_screen_wrapper">
              <li class="li1"><a class="link" tabindex="0" id="continue_distress">[Continue]</a></li>
              <li class="li2"><a class="link" tabindex="0" id="break_to_view">[Break]</a></li>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="distress_ack">
          <div class="sub_screen_wrapper">
            <p class="p9">- Attention ! -<br />Send this call only<br />when being directed<br />by administration.</p>
            <ul>
              <li class="li3"><a class="link" tabindex="0" id="dist_ack_continue">[Continue]</a></li>
              <li class="li4"><a class="link" tabindex="0" id="dist_ack_cancel">[Cancel]</a></li>
            </ul>
          </div>
        </div>
        <div class="sub_screen" id="distress_relay">
          <div class="sub_screen_wrapper">
            <p class="p9">- Attention ! -<br />Normally, this call<br />should be sent to<br />coast station.</p>
            <ul>
              <li class="li3"><a class="link" tabindex="0" id="dist_relay_continue">[Continue]</a></li>
              <li class="li4"><a class="link" tabindex="0" id="dist_relay_cancel">[Cancel]</a></li>
            </ul>
          </div>
        </div>
        <div class="start_up_screen">
          <div class="start_up_screen_wrapper">
            <%= image_tag "jrc_logo_bk.svg", class:"jrc_logo_bk" %>
            <p class="self_id">JHS-770S<br />VHF Radiotelephone<br />[Self-ID: <%= @station.mmsi %>]</p>
            <p class="cont_ts">Controller<br />Transceiver</p>
            <p class="version">Version: 1.00<br />Version: 1.00</p>
          </div>
        </div>
        <div class="menu_screen">
          <div class="header">
            <ul class="header_info left">
              <li><p>Station1</p></li>
              <li><p>&nbsp;</p></li>
              <li ><p class="reverse_color tx">&nbsp;TX&nbsp;</p><p>&nbsp;</p></li>
            </ul>
            <div class="header_info right">
              <ul class="header_info2 center">
                <li><p>TIME</p></li>
              </ul>
              <ul class="header_info2">
                <li><p class="clock"></p></li>
                <li><%= image_tag "dup.svg", class:"dup_info" %>&nbsp;</li>
                <li><%= image_tag "1w.svg", class:"pwr_info" %>&nbsp;<%= image_tag "ch70-symbol.svg" , class:"dsc_info ch70_info" %>&nbsp;</li>
            </div>
            <div class="menu_chs">
              <p>
                <span class="reverse_color ch_info">CH</span>
                <span class="current_ch">
                  <% if @station.channel >= 10 %>
                    <%= @station.channel %>
                  <% else %>
                    <%= "0#{@station.channel}" %>
                  <% end %>
                </span>
                  [ITU]
              </p>
            </div>

          </div>
          <div class="menu main_menu">
            <p>Main menu</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu1">1. DSC routine call </a></li>
              <li><a class="link" tabindex="0" id="menu2">2. DSC emergency call </a></li>
              <li><a class="link" tabindex="0" id="menu3">3. DSC test call </a></li>
              <li><a class="link" tabindex="0" id="menu4">4. DSC logs </a></li>
              <li><a class="link" tabindex="0" id="menu5">5. AIS information </a></li>
              <li><a class="link" tabindex="0" id="menu6">6. Voice function </a></li>
              <li><a class="link" tabindex="0" id="menu7">7. Channel operation </a></li>
              <li><a class="link" tabindex="0" id="menu8">8. Maintenance </a></li>
              <li><a class="link" tabindex="0" id="menu9">9. Setup </a></li>
            </ul>
          </div>
          <div class="menu menu_class dsc_routine_call">
            <p>1. DSC routine call</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu1_1">1. Coast station call</a></li>
              <li><a class="link" tabindex="0" id="menu1_2">2. Ship station call</a></li>
              <li><a class="link" tabindex="0" id="menu1_3">3. PSTN call</a></li>
              <li><a class="link" tabindex="0" id="menu1_4">4. Group call</a></li>
              <li><a class="link back" tabindex="0" id="back1">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class dsc_emergency_call">
            <p>2. DSC emergency call</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu2_1">1. Safety call</a></li>
              <li><a class="link" tabindex="0" id="menu2_2">2. Urgency call</a></li>
              <li><a class="link" tabindex="0" id="menu2_3">3. Distress call</a></li>
              <li><a class="link" tabindex="0" id="menu2_4">4. Proxy distress call</a></li>
              <li><a class="link back" tabindex="0" id="back2">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class dsc_logs">
            <p>4. DSC logs</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu4_1">1. Recieved distress</a></li>
              <li><a class="link" tabindex="0" id="menu4_2">2. Recieved others</a></li>
              <li><a class="link" tabindex="0" id="menu4_3">3. Transmitted calls</a></li>
              <li><a class="link back" tabindex="0" id="back4">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class ais_information">
            <p>5. AIS information</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu5_1">1. Other ships list</a></li>
              <li><a class="link back" tabindex="0" id="back5">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class voice_function">
            <p>6. Voice function</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu6_1">1. Playback</a></li>
              <li><a class="link" tabindex="0" id="menu6_2">2. Public address</a></li>
              <li><a class="link" tabindex="0" id="menu6_3">3. Intercom (station list)</a></li>
              <li><a class="link back" tabindex="0" id="back6">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class channel_operation">
            <p>7. Channel operation</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu7_1">1. Scan</a></li>
              <li><a class="link" tabindex="0" id="menu7_2">2. Dual watch</a></li>
              <li><a class="link" tabindex="0" id="menu7_3">3. Memory channel</a></li>
              <li><a class="link" tabindex="0" id="menu7_4">4. Private channel</a></li>
              <li><a class="link" tabindex="0" id="menu7_5">5. Weather channel</a></li>
              <li><a class="link" tabindex="0" id="menu7_6">6. Region</a></li>
              <li><a class="link" tabindex="0" id="menu7_7">7. CH SQL setting</a></li>
              <li><a class="link back" tabindex="0" id="back7">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class maintenance">
            <p>8. Maintenance</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu8_1">1. Self diagnosis</a></li>
              <li><a class="link" tabindex="0" id="menu8_2">2. Alarm information</a></li>
              <li><a class="link" tabindex="0" id="menu8_3">3. System information</a></li>
              <li><a class="link" tabindex="0" id="menu8_4">4. Software version</a></li>
              <li><a class="link" tabindex="0" id="menu8_5">5. DSC AF inspection</a></li>
              <li><a class="link back" tabindex="0" id="back8">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class setup">
            <p>9. Setup</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu9_1">1. Date & Time</a></li>
              <li><a class="link" tabindex="0" id="menu9_2">2. POS/TIME</a></li>
              <li><a class="link" tabindex="0" id="menu9_3">3. My controller</a></li>
              <li><a class="link" tabindex="0" id="menu9_4">4. Contact list</a></li>
              <li><a class="link" tabindex="0" id="menu9_5">5. DSC operation</a></li>
              <li><a class="link" tabindex="0" id="menu9_6">6. AIS function</a></li>
              <li><a class="link" tabindex="0" id="menu9_7">7. Printer property</a></li>
              <li><a class="link back" tabindex="0" id="back9">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class safety_call">
            <p>2.1) Safety call</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu2_1_1">1. All ship</a></li>
              <li><a class="link" tabindex="0" id="menu2_1_2">2. Specific station</a></li>
              <li><a class="link back" tabindex="0" id="back2_1">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class urgency_call">
            <p>2.2) Urgency call</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu2_2_1">1. All ship</a></li>
              <li><a class="link" tabindex="0" id="menu2_2_2">2. Specific station</a></li>
              <li><a class="link back" tabindex="0" id="back2_2">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class proxy_distress_call">
            <p>2.4) Proxy distress call</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu2_4_1">1. All ship</a></li>
              <li><a class="link" tabindex="0" id="menu2_4_2">2. Coast station</a></li>
              <li><a class="link back" tabindex="0" id="back2_4">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class memory_channel">
            <p>7.3) Memory channel</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu7_3_1">1. Memory CH list</a></li>
              <li><a class="link" tabindex="0" id="menu7_3_2">2. Registration</a></li>
              <li><a class="link back" tabindex="0" id="back7_3">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class my_controller">
            <p>9.3) My controller</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu9_3_1">1. LCD adjustment</a></li>
              <li><a class="link" tabindex="0" id="menu9_3_2">2. Sound</a></li>
              <li><a class="link" tabindex="0" id="menu9_3_2">3. User key assign</a></li>
              <li><a class="link" tabindex="0" id="menu9_3_4">4. <span class="menu9_3_span">Name</span></a>: [Station1]</li>
              <li><a class="link" tabindex="0" id="menu9_3_5">5. <span class="menu9_3_span">Hook switch</span></a>: Valid</li>
              <li><a class="link back" tabindex="0" id="back9_3">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class contact_list">
            <p>9.4) Contact list</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu9_4_1">1. Coast station list</a></li>
              <li><a class="link" tabindex="0" id="menu9_4_2">2. Ship station list</a></li>
              <li><a class="link" tabindex="0" id="menu9_4_2">3. Calling group list</a></li>
              <li><a class="link" tabindex="0" id="menu9_4_2">4. PSTN number list</a></li>
              <li><a class="link back" tabindex="0" id="back9_4">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class printer_property">
            <p>9.7) Printer property</p>
            <ul class="menues">
              <li><a class="link" tabindex="0" id="menu9_7_1">1. Controller printer</a></li>
              <li><a class="link" tabindex="0" id="menu9_7_2">2. Transceiver printer</a></li>
              <li><a class="link back" tabindex="0" id="back9_7">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class ship_station_call">
          </div>
          <div class="menu menu_class safety_call_all_ships">
          </div>
          <div class="menu menu_class safety_call_specific_station">
          </div>
          <div class="menu menu_class urgency_call_all_ships">
          </div>
          <div class="menu menu_class urgency_call_specific_station">
          </div>
          <div class="menu menu_class distress_call">
            <p>2.3) Distress call</p>
            <form action="/dscs/distress_call" method="POST" id="distress_form">
              <div class="selects">
                <ul>
                  <li><a class="link" tabindex="0"  id="nature_2_3">Nature</a><p class="colon">:</p><p  class="inputs">[</p><input type="text" id="input_2_3_1" class="input input_l" name="nature"   value="Undesignated"><p class="inputs2">]</p></li>
                  <li><a class="link" tabindex="0">Position</a><p class="colon">:</p><p class="inputs inputs_l">[
                    <% if @station.lat >= 0 %>
                      <%= "N" %>
                    <% else %>
                      <%= "S" %>
                    <% end %>
                    <% if @station.long >= 0 %>
                      <%= "E" %>
                    <% else %>
                      <%= "W" %>
                    <% end %>
                      ]</p></li>
                  <li><a class="link">&nbsp;</a><p class="colon">&nbsp;</p><p class="inputs">[
                    <%= "#{@lat_degree}°#{@lat_min}' " %>
                    <% if @station.lat >= 0 %>
                      <%= "N" %>
                    <% else %>
                      <%= "S" %>
                    <% end %>
                    ]</p></li>
                  <li><a class="link">&nbsp;</a><p class="colon">&nbsp;</p><p class="inputs">[
                  <%= "#{@long_degree}°#{@long_min}' " %>
                    <% if @station.long >= 0 %>
                      <%= "E" %>
                    <% else %>
                      <%= "W" %>
                    <% end %>
                  ]</p></li>
                </ul>
                <div class="ok_cancel">
                  <p>Press DISTRESS to send.</p>
                  <a class="link link_cancel" id="cancel_2_3" tabindex="0">[Cancel]</a>
                </div>
              </div>
            </form>
          </div>
          <div class="menu menu_class proxy_distress_call_all_ships">
          </div>
          <div class="menu menu_class dsc_test_call">
          </div>
          <div class="menu menu_class distress_relay_call">
          </div>
          <div class="menu menu_class calls_list recieved_distress_list">
            <p>4.1) Recieved distress list</p>
            <p><span class="date_time">Date/Time</span><span class="type">Type</span></p>
            <div class="calls_info">
            </div>
          </div>
          <div class="menu menu_class calls_list recieved_others_list">
            <p>4.2) Recieved others list</p>
            <p><span class="date_time">Date/Time</span><span class="cat">CAT</span><span class="fmt">FMT</span></p>
            <div class="calls_info">
            </div>
          </div>
          <div class="menu menu_class calls_list transmitted_calls_list">
            <p>4.3) Transmitted calls list</p>
            <p><span class="date_time">Date/Time</span><span class="cat">CAT</span><span class="fmt">FMT</span></p>
            <div class="calls_info">
            </div>
          </div>
          <div class="menu menu_class calls_list message">
          </div>
          <div class="menu menu_class other_ships_list">
          </div>
          <div class="menu menu_class self_diagnosis">
          </div>
          <div class="menu menu_class transceiver_test">
          </div>
          <div class="menu menu_class controller_test">
          </div>
          <div class="menu menu_class alarm_infomation">
            <p>8.2) Alarm infomation</p>
            <div class="no_data">
              No data
            </div>
            <p class="press_ent">Press ENT to view alarm history.</p>
          </div>
          <div class="menu menu_class system_infomation">
          </div>
          <div class="menu menu_class softwere_version">
            <p>8.4) Software version</p>
            <ul class="soft_ver">
              <li><span class="version_item">- Transceiver</span><span class="colon">:</span><span class="version_val">1.00</span></li>
              <li><span class="version_item">- Controller</span><span class="colon">:</span><span class="version_val">1.00</span></li>
            </ul>
            <ul class="menues">
              <li><a class="link back" tabindex="0" id="back8_4">0. Back</a></li>
            </ul>
          </div>
          <div class="menu menu_class function">
            <p class="func_list">Func mode key list</p>
            <p class="table_info">Ten key matrix</p>
            <table class="ten_key_matrix" cellspacing="0">
              <tr>
                <td>1:DW</td>
                <td>2:SCAN</td>
                <td>3:MEM-CALL</td>
              </tr>
              <tr>
                <td>4:PA</td>
                <td>5:INT-COM</td>
                <td>6:Speaker</td>
              </tr>
              <tr>
                <td>7:N/A@STBY</td>
                <td>8:TEST</td>
                <td>9:PlayBack</td>
              </tr>
              <tr>
                <td>FuncCancel</td>
                <td>0:AIS</td>
                <td>----</td>
              </tr>
            </table>
            <p class="table_info">Concerned other keys</p>
            <table class="concerned_other_keys" cellspacing="0">
              <tr>
                <td>ENT : CH dial op valid / invalid</td>
              </tr>
              <tr>
                <td>Cancel with Func : SQL setting</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="dynamic_items">
        <div class="oval_btn" id="dim">
          <%= image_tag "dim.svg", class:"btn-txt" %>
        </div>
        <div class="oval_btn" id="pwr_cont">
          <%= image_tag "pwr_cont.svg", class:"btn-txt" %>
        </div>
        <% numbers = 0..9 %>
        <% numbers.each do |number| %>
          <%= link_to(image_tag("#{number}.svg", class:"btn-txt"), stations_show_path(@station, num:"#{number}"), remote: true, method: :post, class:"oval_btn", id:"btn_#{number}") %>
        <% end %>


        <%= link_to(image_tag("func.svg", class:"btn-txt"),"/stations/#{@station.id}/func", remote:true, method: :post, class:"oval_btn", id:"func") %>
        <%= link_to(image_tag("25w_1w.svg", class:"btn-txt"),"/stations/#{@station.id}/change_power", remote:true, method: :post, class:"oval_btn", id:"btn_25w_1w") %>
        <div class="oval_btn" id="user">
          <%= image_tag "user.svg", class:"btn-txt" %>
        </div>
        <%= link_to(image_tag("dsc_rtn.svg", class:"btn-txt"),"/stations/#{@station.id}/dsc_rtn", remote:true, method: :post, class:"oval_btn", id:"dsc_rtn" ) %>
        <%= link_to(image_tag("ch16.svg", class:"btn-txt"),"/stations/#{@station.id}/back_16", remote:true, method: :post, class:"oval_btn", id:"ch16" ) %>
        <%= link_to(image_tag("menu.svg", class:"btn-txt"),"/stations/#{@station.id}/menu", remote: true, method: :post, class:"round_btn", id:"menu") %>
        <%= link_to(image_tag("cancel.svg", class:"btn-txt"),"/stations/#{@station.id}/cancel", remote: true, method: :post, class:"round_btn", id:"cancel") %>
        <div class="distress_btn" id="distress">
          <%= image_tag "distress.svg", class:"btn-txt" %>
        </div>
        <div id="cover_close">
          <%= image_tag "cover_close.svg" %>
        </div>
        <div id="cover_open">
          <%= image_tag "cover_open.svg" %>
        </div>
        <div id="ent-nob">
          <%= image_tag "ent-nob.svg" %>
        </div>
        <div class="vol-nob" id="sql_nob">
          <%= image_tag "vol-nob.svg" %>
        </div>
        <div class="vol-nob" id="vol_nob">
          <%= image_tag "vol-nob.svg" %>
        </div>
        <div id="alm-lamp"></div>
        <%= link_to(image_tag("off-txt.svg", class:"off-txt"), "/stations/#{@station.id}/off_btn", remote: true, method: :post) %>
      </div>

    </div>


</div>

<script>
  $(document).on('turbolinks:load', function(){
    //$("html,body").css("overflow","hidden");
    var scrollTop = $(window).scrollTop();
    //$('.station_container').css({'position':'fixed','top':-scrollTop,'left': '50%','margin-left': -this.outerWidth() / 2 + 'px'});
    $('.station_container').css({'position':'fixed','top':-scrollTop,'left':'calc(50% - 976px/2)'});
    $.ajax({
      url: "/dscs/new_call",
      type: 'POST',
      dataType: 'json'
    })
    .always(function(data){
      if (data.id){
        native_call_id = data.id;
      } else {
        native_call_id = 0;
      }
      console.log(`neko${native_call_id}`);
    });

    $.PeriodicalUpdater('/dscs/new_call',{
      minTimeout: 3000,
      method: 'POST',
      multiplier: 1,
      type: 'json'
    },
    function(data){
      if (data != undefined && data.id > native_call_id) {
        console.log(data.id);
        $.post(`/dscs/${data.id}/recieved_call`);
      }

    });
  });
<% if @current_station.state == 1 %>
  //$(document).on('turbolinks:load', function(){
    var touched = false;
    var touch_time = 0;
    $("#distress").off();
    $("#distress").bind({
      'touchstart mousedown': function(e) {
        touched = true;
        touch_time = 0;
        document.interval = setInterval(function(){
          touch_time += 100;
          if (touch_time == 200) {
            $(".home_screen").hide();
            $(".menu_screen").show();
            $(".main_menu").hide();
            $(".menu_class").hide();
            $(".distress_call").show();
            $("#distress_count_down").show();
            $(".current_ch").text('70');
            $(".count_num").text("4");
            $("#alm-lamp").addClass("red_lamp");
          }
          if (touch_time == 700) {
            $("#alm-lamp").removeClass("red_lamp");
          }
          if (touch_time == 1200) {
            $(".count_num").text("3");
            $("#alm-lamp").addClass("red_lamp");
          }
          if (touch_time == 1700) {
            $("#alm-lamp").removeClass("red_lamp");
          }
          if (touch_time == 2200) {
            $(".count_num").text("2");
            $("#alm-lamp").addClass("red_lamp");
          }
          if (touch_time == 2700) {
            $("#alm-lamp").removeClass("red_lamp");
          }
          if (touch_time == 3200) {
            $(".count_num").text("1");
            $("#alm-lamp").addClass("red_lamp");
          }
          if (touch_time == 3700) {
            $("#alm-lamp").removeClass("red_lamp");
          }
          if (touch_time == 4200) {
            $("#distress_count_down").hide();
            $("#sending_distress").show();
            $(".tx").show().css("display","inline-block");
            $("#alm-lamp").addClass("red_lamp");
            $.ajax({
              url: '/dscs/distress_call',
              type: 'POST',
              data: {'nature': 'Undesignated'},
              cache: false
            });
          }
        }, 100)
        e.preventDefault();
      },
      'touchend mouseup mouseout': function(e) { // マウスが領域外に出たかどうかも拾うと、より自然
        $("#distress_count_down").hide();
        $.post(`/stations/${gon.station_id}/distress_call`);
        if (touch_time < 4200) {
          $("#alm-lamp").removeClass("red_lamp");
        }
        if (touched) {
          if (touch_time < 200 ) {
            // 短いタップでの処理
          }
        }
        touched = false;
        clearInterval(document.interval);
        e.preventDefault();
      }
    });
  //});
<% end %>
//var getDevice = (function(){
//var ua = navigator.userAgent;
//
//if(ua.indexOf('iPhone') >= 0 || ua.indexOf('iPod') >= 0 || (ua.indexOf('Android') >= 0 && //ua.indexOf('Mobile') > 0)){
//  return 'sp';
//}else if(ua.indexOf('iPad') >= 0 || (ua.indexOf('Android') >= 0 && screen.width >= 768)){
//  return 'tab';
//}else{
//  return 'other';
//}
//})();
//if (getDevice == "sp") {
//  //$(".station_info").hide();
//  //$(".handset_box").css("margin-top","0");
//  var scrollTop = $(window).scrollTop();
//  $('.station_container').css({'position':'fixed','top':-scrollTop,'left':'24px'});
//}
</script>
