<% if @current_station.id == @dsc.from_id %>
  <p>Transmitted <%= @dsc.category %> massage</p>
  <ul class="call_info">
    <li><span class="info_type">Format</span><span class="info_content">: <%= @dsc.format %></span></li>
    <% if @to %>
      <li><span class="info_type">To</span><span class="info_content">: <%= @to.mmsi %></span></li>
    <% end %>
    <li><span class="info_type">Type</span><span class="info_content">: <%= @dsc.message_type %></span></li>
    <% if @dsc.message_type != "Test" && @dsc.message_type != "Position RQ" && @dsc.message_type != "Polling" && @dsc.message_type != "Data" && @dsc.message_type != "Ship position" && @dsc.message_type != "Unable to comply" %>
      <li><span class="info_type">Work CH</span><span class="info_content">:
        <% if @dsc.work_ch >= 10 %>
          <%= @dsc.work_ch %>
        <% else %>
          <%= "0#{@dsc.work_ch}" %>
        <% end %>
        </span></li>
    <% end %>
    <% if @dsc.message_type == "Ship position" %>
      <li><span class="info_type">Position</span><span class="info_content">: <%= "#{@lat_degree}°#{@lat_min}' " %>
        <% if @dsc.lat >= 0 %>
          <%= "N" %>
        <% else %>
          <%= "S" %>
        <% end %>
      </span></li>
      <li><span class="info_type">&nbsp;</span><span class="info_content">: <%= "#{@long_degree}°#{@long_min}' " %>
        <% if @dsc.long >= 0 %>
          <%= "E" %>
        <% else %>
          <%= "W" %>
        <% end %>
      </span></li>
      <li><span class="info_type">UTC</span><span class="info_content">: <%= @dsc.created_at.strftime("%H:%M") %></span></li>
    <% end %>
    <li><span class="info_type">EOS</span><span class="info_content">: <%= @dsc.eos %></span></li>
  </ul>
  <ul class="massage_menues">
    <li class="menu_r"><a class="link" tabindex="0" id="close_4_3">[Close]</a></li>
    <li class="menu_r"><a class="link" tabindex="0">[Resend]</a></li>
    <li class="menu_r"><a class="link" tabindex="0">[Edit&Send]</a></li>
  </ul>
<% else %>
  <% if @dsc.category == "distress" %>
    <p>Received <%= @dsc.category %> massage</p>
    <ul class="call_info">
      <li><span class="info_type">Type</span><span class="info_content">: <%= @dsc.message_type   %></span></li>
      <% if @dsc.message_type == "Proxy distress" || @dsc.message_type == "Distress ACK" || @dsc.message_type == "Proxy dist-ACK" %>
        <li><span class="info_type">To</span><span class="info_content">: All ships</span></li>
      <% end %>
      <% if @dsc.message_type == "Distress relay" || @dsc.message_type == "Dis-relay ACK" %>
        <li><span class="info_type">To</span><span class="info_content">: Individual</span></li>
      <% end %>
      <li><span class="info_type">From</span><span class="info_content">: <%= @from.mmsi %></span></li>
      <% if @dsc.message_type != "Distress" %>
        <li><span class="info_type">Dist-ID</span><span class="info_content">: <%= @dsc.dist_id   %></span></li>
      <% end %>
      <li><span class="info_type">Nature</span><span class="info_content">: <%= @dsc.nature %></span></li>
      <li><span class="info_type">Position</span><span class="info_content">: <%=   "#{@lat_degree}°#{@lat_min}' " %>
        <% if @dsc.lat >= 0 %>
          <%= "N" %>
        <% else %>
          <%= "S" %>
        <% end %>
        </span></li>
      <li><span class="info_type">&nbsp;</span><span class="info_content">: <%=   "#{@long_degree}°#{@long_min}' " %>
        <% if @dsc.long >= 0 %>
          <%= "E" %>
        <% else %>
          <%= "W" %>
        <% end %>
        </span></li>
      <li><span class="info_type">UTC</span><span class="info_content">: <%=  @dsc.created_at.strftime("%H:%M") %></span></li>
      <li><span class="info_type">EOS</span><span class="info_content">: <%= @dsc.eos %></span></li>
    </ul>
      <ul class="massage_menues">
        <li class="menu_r"><a class="link" tabindex="0" id="close_4_1">[Close]</a></li>
        <% if @dsc.message_type != "Distress ACK" && @dsc.message_type != "Dist-relay ACK" && @dsc.message_type != "Proxy dist-ACK" %>
          <li class="menu_r"><a class="link" tabindex="0" id="ack_4_1">[ACK]</a></li>
        <% end %>
        <% if @dsc.message_type != "Distress ACK" && @dsc.message_type != "Dist-relay ACK" && @dsc.message_type != "Proxy dist-ACK" && @dsc.message_type != "Distress relay" %>
          <li class="menu_r"><a class="link" tabindex="0" id="relay_4_1">[Relay]</a></li>
        <% end %>
      </ul>
  <% end %>
  <% if @dsc.category != "distress" %>
    <p>Received <%= @dsc.category %> massage</p>
    <ul class="call_info">
      <li><span class="info_type">Format</span><span class="info_content">: <%= @dsc.format %></span></li>
      <li><span class="info_type">From</span><span class="info_content">: <%= @from.mmsi %></span></li>
      <li><span class="info_type">Type</span><span class="info_content">: <%= @dsc.message_type   %></span></li>
      <% if @dsc.reason %>
        <li><span class="info_type">Reason</span><span class="info_content">: <%= @dsc.reason   %></span></li>
      <% end %>
      <% if @dsc.message_type != "Test" && @dsc.message_type != "Position RQ" && @dsc.message_type !=   "Polling" && @dsc.message_type != "Data" && @dsc.message_type != "Ship position" &&   @dsc.message_type != "Unable to comply" %>
        <li><span class="info_type">Work CH</span><span class="info_content">:
          <% if @dsc.work_ch >= 10 %>
            <%= @dsc.work_ch %>
          <% else %>
            <%= "0#{@dsc.work_ch}" %>
          <% end %>
          </span></li>
      <% end %>
      <% if @dsc.message_type == "Ship position" %>
        <li><span class="info_type">Position</span><span class="info_content">: <%=   "#{@lat_degree}°#{@lat_min}' " %>
          <% if @dsc.lat >= 0 %>
            <%= "N" %>
          <% else %>
            <%= "S" %>
          <% end %>
          </span></li>
        <li><span class="info_type">&nbsp;</span><span class="info_content">: <%=   "#{@long_degree}°#{@long_min}' " %>
          <% if @dsc.long >= 0 %>
            <%= "E" %>
          <% else %>
            <%= "W" %>
          <% end %>
          </span></li>
        <li><span class="info_type">UTC</span><span class="info_content">: <%=  @dsc.created_at.strftime("%H:%M") %></span></li>
      <% end %>
      <li><span class="info_type">EOS</span><span class="info_content">: <%= @dsc.eos %></span></li>
    </ul>
    <ul class="massage_menues">
      <li class="menu_r"><a class="link" tabindex="0" id="close_4_2">[Close]</a></li>
      <% if @dsc.eos == "ACK RQ" %>
        <li class="menu_r"><%= link_to "[ACK]", "/dscs/#{@dsc.id}/ack",remote: true, method: :post, class:"link" %></li>
        <li class="menu_r"><a class="link nack_call" tabindex="0">[NACK]</a></li>
      <% end %>
      <% if @dsc.category != "urgency" && @dsc.message_type == "All modes RT" && @dsc.message_type != "Unable to comply" && @dsc.eos != "EOS" %>
        <li class="menu_r"><a class="link new_ch_call" tabindex="0">[New CH]</a></li>
      <% end %>
      <li class="menu_r"><a class="link" tabindex="0">[MMSI]</a></li>
    </ul>
  <% end %>

<% end %>
