<!DOCTYPE html>
<html>
  <head>
    <title>LET'S VHF !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=1024px">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if session[:user_id] %>
          <%= link_to "LET'S VHF !", "/users/#{@current_user.id}" %>
        <% else %>
          <%= link_to "LET'S VHF !", "/" %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if session[:user_id] %>

          <li>
            <% if @current_station %>
              <%= link_to "シミュレーターモード", "/stations/#{@current_station.id}",data: {"turbolinks" => false} %>
            <% else %>
              <%= link_to "シミュレーターモード", "/stations/new" %>
            <% end %>
          </li>
          <li><%= link_to "設定", "/users/#{@current_user.id}" %></li>
          <li><%= link_to "ログアウト", "/logout" ,method: :post %></li>
        <% else %>
          <li><%= link_to "LET'S VHF ! とは", "/about" %></li>
          <li><%= link_to "新規登録", "/signup" %></li>
          <li><%= link_to "ログイン", "/login" %></li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
